app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  box-shadow:
    0px 20px 60px #000000,
    0px -20px 60px;
  z-index: 999999;
}
