<div id="footer">
  <div class="row">
    <div class="column">
      <h4>L'auberge de la Brise Nocturne</h4>
      <div class="lieu">
        <iframe
          src=""
          width="200"
          height="100"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <p>5 rue du blabla <br />Ville, Région<br />Pays</p>
      </div>
    </div>
    <div class="column">
      <a href="">Mentions légales</a>
      <a href="">Politique de confidentialité</a>
      <br />
      <p>© AubergeDeLaBriseNocturne, 2024</p>
    </div>
  </div>
</div>
